html, body, h1, h2, h3, h4, h5, h6, p, button {
	margin: 0;
	border: 0;
	padding: 0;
}

a {
	color: unset;
    text-decoration: unset;
}

a:visited {
    color: unset;
}

button {
	background-color: unset;
	width: unset;
	height: unset;
}
