{% extends 'index.html' %}

{% block main %}
<div class="container home">
    <article>
        <h4>Pending Friend Requests</h4>
        <ul>
        {% for req in pending %}
            <li>
                <span>{{req}}</span>
            </li>
        {% endfor %}
        </ul>

        <hr>

        <h4>Received Friend Requests</h4>
        <ul>
        {% for req in received %}
            <li>
                <span>{{req}}</span>
            </li>
        {% endfor %}
        </ul>

        <hr>

        <h4>Friends List</h4>
        <div>
            <a href="{% url 'search' %}">Add a Friend +</a>
        </div>
        <ul>
            {% for friend in friends %}
            <li>
                <span>{{friend}}</span>
            </li>
            {% endfor %}
        </ul>        
        {% comment %}
        {% endcomment %}
    </article>
    <section>
        <div>
            <p>Select a friend from your sidebar to start messaging</p>
            <br>
            <span style="font-style: italic;">or</span>
            <br>
            <p><a href="{% url 'search' %}">Search</a> for new friends</p> 
        </div>

        {% comment %}{% endcomment %}
    </section>
</div>
{% endblock %}
