{% extends 'index.html' %}

{% block main %}
<div class="container home">
    <article>
        <div>
            <h3>Friends List</h3>
        </div>
        {% comment %}

        <div>
            <a href="#">Add a Friend +</a>
        </div>
        <ul>
            {% for friend in friends_list %}
            <li>
                <span>{{friend.username}}</span>
            </li>
            {% endfor %}
        </ul>        
        
        {% endcomment %}
    </article>

    <section>
        <div>
            <p>Select a friend from your sidebar to start messaging</p>
            <br>
            <span style="font-style: italic;">or</span>
            <br>
            <p><a href="{% url 'search' %}">Search</a> for new friends</p> 
        </div>

        {% comment %}{% endcomment %}
    </section>
</div>
{% endblock %}
