{% extends 'index.html' %}

{% block main %}
<div class="container search">
    <section>
        <h1>Search</h1>   
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        <h2>Results</h2>
        <ul class="results-list">
            {% if userlist.0.name == '' %}
            <li class="results-item">
                <span>Search users for results</span>
            </li>
            {% elif userlist %}    
            {% for u in userlist %}
            <li class="results-item">
                <div>
                    <span>{{u.name}}</span>
                </div>
                <div>
                    {% if u.are_friends %}
                    <div>
                        <span>Already Friends!</span>
                    </div>
                    {% elif u.has_requested %}
                    <div>
                        <span>Request sent</span>
                    </div>
                    {% else %}
                    <form action="{% url 'add_friend' user u.name %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="+ Add friend" class="btn green">
                    </form>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
            {% else %}
            <li class="results-item">
                <span>No matches</span>
            </li>
            {% endif %}
        </ul>

        {% comment %}{% endcomment %}
    </section>
</div>
{% endblock %}
