{% extends 'index.html' %}

{% block main %}
<div class="container search">
    <section>
        <h1>Search</h1>   
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        <h2>Results</h2>
        <ul class="results-list">
            {% if userlist.0.name == '' %}
            <li class="results-item">
                <span>Search users for results</span>
            </li>
            {% elif userlist %}    
            {% for u in userlist %}
            <li class="results-item">
                <span>{{u.name}}</span>
                <input type="button" value="+ Add friend">
            </li>
            {% endfor %}
            {% else %}
            <li class="results-item">
                <span>No matches</span>
            </li>
            {% endif %}
        </ul>

        {% comment %}{% endcomment %}
    </section>
</div>
{% endblock %}
