{% extends "index.html" %}

{% block main %}
<div class="container signup">
    <h1>Sign up Form</h1>

    <div>
        <form method="post">
            {% csrf_token %}
    
            {% for field in form %}
            <div>
                <div>
                    {{ field.label_tag }} 
                    {{ field }}
                </div>
                <div>
                    {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            
            <div>
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
